.test {
	color: blue;
}

.text-5xl {
	font-size: 5rem;
}

.underline {
	text-decoration: underline;
}

// test.module.scss

.text5xl {
	font-size: 5rem;
}

.underline {
	text-decoration: underline;
}

// スライダー内のコンテンツに適用するスタイル
.slick-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	/* 適切な高さを指定してください */
	background-color: #f0f0f0;
	/* 適切な背景色を指定してください */
}